
<Page.actionBar>
    <ActionBar title="yolo">
    </ActionBar>
</Page.actionBar>
<StackLayout>
  <Label text="sweet label dude">
  </Label>
  <Button
    [text]="color"
    (tap)="buttonTap()"
    [color]="color">
  </Button>
  <Button
    [text]="fbs.color | async"
    (tap)="fbs.generatePushToken()"
    [color]="fbs.color | async">
  </Button>
  <Button
    text=send
    (tap)="fbs.add(color)"
    [color]="fbs.color | async">
  </Button>
  <Button
    text=get
    (tap)="fbs.get()"
    [color]="fbs.color | async">
  </Button>
</StackLayout>
<div
  [ngStyle]="{'color': color,
              'background-color': color}"
  width="50px"
  height="50px">
  {{color}}
</div>
